<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="2685.3">
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Helvetica}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Helvetica; min-height: 14.0px}
  </style>
</head>
<body>
<p class="p1">body {</p>
<p class="p1"><span class="Apple-converted-space">    </span>font-family: 'Comic Neue', sans-serif;</p>
<p class="p1"><span class="Apple-converted-space">    </span>margin: 0;</p>
<p class="p1"><span class="Apple-converted-space">    </span>padding: 0;</p>
<p class="p1"><span class="Apple-converted-space">    </span>background-color: #fff8f0;</p>
<p class="p1"><span class="Apple-converted-space">    </span>color: #333;</p>
<p class="p1">}</p>
<p class="p2"><br></p>
<p class="p1">header {</p>
<p class="p1"><span class="Apple-converted-space">    </span>display: flex;</p>
<p class="p1"><span class="Apple-converted-space">    </span>justify-content: space-between;</p>
<p class="p1"><span class="Apple-converted-space">    </span>padding: 20px;</p>
<p class="p1"><span class="Apple-converted-space">    </span>background-color: #f4a261;</p>
<p class="p1">}</p>
<p class="p2"><br></p>
<p class="p1">header .logo {</p>
<p class="p1"><span class="Apple-converted-space">    </span>font-size: 24px;</p>
<p class="p1"><span class="Apple-converted-space">    </span>font-weight: bold;</p>
<p class="p1">}</p>
<p class="p2"><br></p>
<p class="p1">header nav a {</p>
<p class="p1"><span class="Apple-converted-space">    </span>margin: 0 10px;</p>
<p class="p1"><span class="Apple-converted-space">    </span>text-decoration: none;</p>
<p class="p1"><span class="Apple-converted-space">    </span>color: #fff;</p>
<p class="p1"><span class="Apple-converted-space">    </span>font-weight: bold;</p>
<p class="p1">}</p>
<p class="p2"><br></p>
<p class="p1">.hero {</p>
<p class="p1"><span class="Apple-converted-space">    </span>text-align: center;</p>
<p class="p1"><span class="Apple-converted-space">    </span>padding: 100px 20px;</p>
<p class="p1"><span class="Apple-converted-space">    </span>background-color: #e76f51;</p>
<p class="p1"><span class="Apple-converted-space">    </span>color: #fff;</p>
<p class="p1">}</p>
<p class="p2"><br></p>
<p class="p1">.hero button {</p>
<p class="p1"><span class="Apple-converted-space">    </span>padding: 10px 20px;</p>
<p class="p1"><span class="Apple-converted-space">    </span>font-size: 16px;</p>
<p class="p1"><span class="Apple-converted-space">    </span>cursor: pointer;</p>
<p class="p1"><span class="Apple-converted-space">    </span>border: none;</p>
<p class="p1"><span class="Apple-converted-space">    </span>background-color: #264653;</p>
<p class="p1"><span class="Apple-converted-space">    </span>color: #fff;</p>
<p class="p1"><span class="Apple-converted-space">    </span>border-radius: 5px;</p>
<p class="p1">}</p>
<p class="p2"><br></p>
<p class="p1">section {</p>
<p class="p1"><span class="Apple-converted-space">    </span>padding: 50px 20px;</p>
<p class="p1"><span class="Apple-converted-space">    </span>max-width: 800px;</p>
<p class="p1"><span class="Apple-converted-space">    </span>margin: auto;</p>
<p class="p1">}</p>
<p class="p2"><br></p>
<p class="p1">ol, ul {</p>
<p class="p1"><span class="Apple-converted-space">    </span>line-height: 2;</p>
<p class="p1">}</p>
<p class="p2"><br></p>
<p class="p1">.tracker {</p>
<p class="p1"><span class="Apple-converted-space">    </span>position: relative;</p>
<p class="p1"><span class="Apple-converted-space">    </span>height: 50px;</p>
<p class="p1"><span class="Apple-converted-space">    </span>background-color: #f4a261;</p>
<p class="p1"><span class="Apple-converted-space">    </span>border-radius: 25px;</p>
<p class="p1"><span class="Apple-converted-space">    </span>overflow: hidden;</p>
<p class="p1">}</p>
<p class="p2"><br></p>
<p class="p1">.tracker .dog {</p>
<p class="p1"><span class="Apple-converted-space">    </span>position: absolute;</p>
<p class="p1"><span class="Apple-converted-space">    </span>left: 0;</p>
<p class="p1"><span class="Apple-converted-space">    </span>font-size: 32px;</p>
<p class="p1"><span class="Apple-converted-space">    </span>transition: left 10s linear;</p>
<p class="p1">}</p>
<p class="p2"><br></p>
<p class="p1">form {</p>
<p class="p1"><span class="Apple-converted-space">    </span>display: flex;</p>
<p class="p1"><span class="Apple-converted-space">    </span>flex-direction: column;</p>
<p class="p1">}</p>
<p class="p2"><br></p>
<p class="p1">form input, form textarea {</p>
<p class="p1"><span class="Apple-converted-space">    </span>margin-bottom: 10px;</p>
<p class="p1"><span class="Apple-converted-space">    </span>padding: 10px;</p>
<p class="p1"><span class="Apple-converted-space">    </span>font-size: 16px;</p>
<p class="p1"><span class="Apple-converted-space">    </span>border-radius: 5px;</p>
<p class="p1"><span class="Apple-converted-space">    </span>border: 1px solid #ccc;</p>
<p class="p1">}</p>
<p class="p2"><br></p>
<p class="p1">form button {</p>
<p class="p1"><span class="Apple-converted-space">    </span>padding: 10px;</p>
<p class="p1"><span class="Apple-converted-space">    </span>background-color: #264653;</p>
<p class="p1"><span class="Apple-converted-space">    </span>color: #fff;</p>
<p class="p1"><span class="Apple-converted-space">    </span>font-size: 16px;</p>
<p class="p1"><span class="Apple-converted-space">    </span>border: none;</p>
<p class="p1"><span class="Apple-converted-space">    </span>border-radius: 5px;</p>
<p class="p1"><span class="Apple-converted-space">    </span>cursor: pointer;</p>
<p class="p1">}</p>
<p class="p2"><br></p>
<p class="p1">footer {</p>
<p class="p1"><span class="Apple-converted-space">    </span>text-align: center;</p>
<p class="p1"><span class="Apple-converted-space">    </span>padding: 20px;</p>
<p class="p1"><span class="Apple-converted-space">    </span>background-color: #f4a261;</p>
<p class="p1"><span class="Apple-converted-space">    </span>color: #fff;</p>
<p class="p1">}</p>
</body>
</html>
